html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    /* Hela sidan används*/
    font-family: Arial;
}

.container {
    display: grid;
    grid-template-rows: 80px 1fr 60px;  /* 3 rader */
    grid-template-columns: 1fr 1fr 1fr;     /* 3 kolumner */
    height: 100vh;

}
header {
background-color: beige;
grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 50px;
}
.left {
background-color: white;
 grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-left: 35px solid white;
    border-right: 5px solid white;

}
.right {
background-color: white;
   grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-left: 5px solid white;
    border-right: 35px solid white;
    

}
footer {
background-color: beige;
  grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;

}